{% extends "layout.html" %}
{% block body %}
{% if message %}
<div>
    {{ message }}
</div>
{% endif %}

<div class="top-wrapper">
  <div class="container">
    <h1>CONTENTS-TEXT</h1>

    <div class="button-container">
        <div class="button">
            <button id="submit-btn" class="login-show" type ="submit" >
                ログイン
            </button>
        </div>

      <div class="button">
          <button id="submit-btn" class="signup-show" type ="submit" >
              新規登録
          </button>
      </div>
  </div>
  </div>
</div>




<!-- MODAL -->
<script type="text/javascript" src="/src/js/script.js"></script>

<div class="signup-modal-wrapper" id="signup-modal">
  <div class="modal">
      <div class="close-modal">
        <i class="fa fa-2x fa-times"></i>
      </div>
<div class="signup-form">
    <form action="{{url_for('regist_user')}}" method="post">
        <div id="signup-form">
        <h2>新規登録</h2>
        <div>
            <label for="name"></label>
            <input type="text" id="name" name="name" placeholder="User Name"/>
        </div>
        <div>
            <label for="password"></label>
            <input type="password" id="password" name="password" placeholder="password"/>
        </div>

        <div>
            <label for="password"></label>
            <input type="password" name="passwd_confirmation" name="passwd_confirmation" placeholder="再入力">

        </div>

    	<input id="submit-btn" type ="submit" value="登録">
        </div>
    </form>
    </div>
    </div>
</div>



<div class="login-modal-wrapper" id="login-modal">
    <div class="modal">
      <div class="close-modal">
        <i class="fa fa-2x fa-times"></i>
      </div>

      <div id="login-form">

    <h2>ログイン</h2>

    <form action="{{ url_for('login') }}" method=post>
        <div >
            <label for="name"></label>
            <input type="text" id="name" name="name" placeholder="User Name"/>
        </div>
        <div>
            <label for="password"></label>
            <input type="password" id="password" name="password" placeholder="password"/>
        </div>

        <input class="btn " id="submit-btn" type ="submit" value="ログイン" >

    </form>
</div>
</div>
</div>

<!-- MODAL -->

{% endblock %}
