{% extends "layout.html" %}
{% block body %}

<form action="{{url_for('keyword')}}" method="get">
  <input type="search" name="search" placeholder="keyword">
  <input type="submit" name="submit" value="検索">
</form>

<h3>popular</h3>
{% if popular %}
<table>
    <thead>
    <tr>
        <th>creator</th>
        <th>title</th>
        <th>favorite</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for project in popular %}
    <tr>
        <td>
            <a href="{{url_for('user_detail', user_name=project.creator)}}">
            {{ project.creator }}
            </a>
        </td>
        <td>
            {{ project.name }}
        </td>
        <td>
            {{ project.fav }}
        </td>
        <td>
            <input type="button" 
            name="favorite" value="favorite" onClick +={{ project.fav }}>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<h4>No project are available</h4>
{% endif %}


<h3>latest</h3>
{% if latest %}
<table>
    <thead>
    <tr>
        <th>creator</th>
        <th>title</th>
        <th>favorite</th>
        <th></th>
    </tr>

    </thead>
    <tbody>
    {% for project in latest %}
    <tr>
        <td>
            <a href="{{url_for('user_detail', user_name=project.creator)}}">
                {{ project.creator }}
            </a>
        </td>
        <td>
            {{ project.name }}
        </td>
        <td>
            {{ project.fav }}
        </td>
        <td>
            <input type="button" value="favorite" onclick= +={{ project.fav}}>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<h4>No project are available</h4>
{% endif %}
<button onclick="redirectCreatePage()">プロジェクトを作る</button>


<script>
    function redirectCreatePage(){
        window.open('{{url_for("create_project")}}')
    }

    $('#favorite').onClick() => {
        const $form = $(this);
        const param = {
            e2: parts[3],
            name: $('#favorite').val()
        }
        $.ajax({
            type: 'POST',
            url: '{{url_for("favorite")}}',
            data:JSON.stringify(param),
            dataType: 'json',
            contentType: 'application/json',
            success: (r) => {
                debugger;
                alert(r.ResultSet.Result.text);

</script>
{% endblock %}

target.