{% extends "layout.html" %}
{% block body %}



<div class="top-container">
<h3 class="popular">popular</h3>
{% if popular %}
<table class="tabel">
    <thead>
    <tr>
        <th>creator</th>
        <th>title</th>
        <th>favorite</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for project in popular %}
    <tr>
        <td>
            <a href="{{url_for('user_detail', user_name=project.creator)}}" >
                {{ project.creator }}
            </a>
        </td>
        <td>
            <a href="{{url_for('render_project', project_id=project.id)}}" target="_blank">
            {{ project.name }}
            </a>
        </td>
        <td>
            {{ project.fav }}
        </td>
        <td class="favorite-class">
            <!-- <input type="button"
                   class="favorite" value="favorite" data="{{project.id}}" > -->

           <div class="fav-td">
               <div class="favorite">
               <input class="fav-btn" type="button" value="favorite" data="{{project.id}}" >
           </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<h4>No project are available</h4>
{% endif %}


<h3>latest</h3>
{% if latest %}
<table >
    <thead>
    <tr>
        <th>creator</th>
        <th>title</th>
        <th>favorite</th>
        <th></th>
    </tr>

    </thead>
    <tbody>
    {% for project in latest %}
    <tr>
        <td>
            <a href="{{url_for('user_detail', user_name=project.creator)}}">
                {{ project.creator }}
            </a>
        </td>
        <td>
            <a href="{{url_for('render_project', project_id=project.id)}}" target="_blank">
            {{ project.name }}
            </a>
        </td>
        <td>
            {{ project.fav }}
        </td>
        <td>
            <div class="fav-td">
                <div class="favorite">
                <input class="fav-btn" type="button" value="favorite" data="{{project.id}}" >
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<h4>No project are available</h4>
{% endif %}

<button class="project-btn" onclick="redirectCreatePage()">プロジェクトを作る</button>

</div>
<script>
    function redirectCreatePage() {
        window.open('{{url_for("create_project")}}')
    }

    $('.favorite').on('click', (e) => {
        const t = e.target;
        const target = $(t).attr('data');
        const param = {
            id: target,
        }
        $.ajax({
            type: 'POST',
            url: '{{url_for("favorite")}}',
            data: JSON.stringify(param),
            dataType: 'json',
            contentType: 'application/json',
            success: (r) => {
                alert(r.ResulSet.text);
            }
        })
    });

</script>


{% endblock %}

target.
