{% extends "layout.html" %}
{% block body %}

<h3>{{user_name}}</h3>
{% if context %}
<table>
    <thead>
    <tr>
        <th>creator</th>
        <th>title</th>
        <th>favorite</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for project in context %}
    <tr>
        <td>{{project.creator}}</td>
        <td>{{project.name}}</td>
        <td>{{project.fav}}
        <td>
          <input type="button"
                   class="favorite" value="favorite" data="{{project.id}}">
        </td> 
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<h4>No project are available</h4>


{% endif %}

<script>
    function redirectCreatePage() {
        window.open('{{url_for("create_project")}}')
    }

    $('.favorite').on('click', (e) => {
        const t = e.target;
        const target = $(t).attr('data');
        const param = {
            id: target,
        }
        $.ajax({
            type: 'POST',
            url: '{{url_for("favorite")}}',
            data: JSON.stringify(param),
            dataType: 'json',
            contentType: 'application/json',
            success: (r) => {
                alert(r.ResulSet.text);
            }
        })
    });

</script>

<a href="{{url_for('top')}}">topに戻る</a>
{% endblock %}
